.languagepicker {
	 background-color: transparent;
}
 .languagepicker a {
	 color: #fff !important;
}
 .languagepicker li {
	 border-top: none;
	 color: #fff !important;
}
 .languagepicker li:hover {
	 background-color: transparent;
}
 .m-login__logo img {
	 width: 275px !important;
	 height: 75px !important;
	 margin-bottom: 20px !important;
}
 .m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-sub .m-link:hover {
	 color: #000 !important;
}
 .m-header-menu .logo {
	     max-height: 51px !important;
    height: 70px;
    margin-top: 8px;
    padding: 5px;
    /* margin-top: 5px !important; */
    margin-right: 20px !important;
}
 .m-login__container {
	 background: rgba(255, 255, 255, 0.7);
	 border-width: 1px !important;
	 border-color: green !important;
	 font-size: 16px !important;
	 font-weight: bold !important;
	 box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 0.7) !important;
}
 .m-dropdown.m-dropdown--arrow .m-dropdown__wrapper.profile hr {
	 border-top: 1px solid #000 !important;
}
 .m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-action .m-login__btn {
	 color: #000 !important;
	 border-width: 1px !important;
	 border-color: #fff !important;
	 font-size: 16px !important;
	 font-weight: bold !important;
	 box-shadow: 0px 5px 10px 2px transparent !important;
	 background-color: #fff;
}
 .m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__head .m-login__desc {
	 color: #000;
	 font-weight: bold;
}
 .m-login__logo {
	 margin-top: 0px !important;
	 margin-bottom: 0px !important;
}
 .m-login__recovery-success {
	 box-shadow: transparent !important;
	 background-color: #fff !important;
}
 .m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .form-control {
	 color: #000 !important;
	 background: #fff !important;
	 border-color: rgba(0, 0, 0, 0.7) !important;
}
 .m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .form-control

-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	 color: rgba(57, 117, 172, 0.5);
}
 .m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .form-control:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	 color: rgba(57, 117, 172, 0.5);
}
 .m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .form-control::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	 color: rgba(57, 117, 172, 0.5);
}
 .m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .form-control:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	 color: rgba(57, 117, 172, 0.5);
}
 .m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .form-control::-ms-input-placeholder {
	/* Microsoft Edge */
	 color: rgba(57, 117, 172, 0.5);
}
 .m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .form-control::placeholder {
	/* Most modern browsers support this now. */
	 color: rgba(57, 117, 172, 0.5);
}
 .m-nav__item.question-mark-tutorial {
	 display: none !important;
}
 .m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__head .m-login__desc {
	 color: #c2acf4;
	 color: #000;
	 font-weight: bold;
}
 .m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-sub .m-checkbox {
	 color: #000;
	 border-color: #000;
}
 .m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__head .m-login__title {
	 color: #000;
	 font-weight: bold;
}
 .m-login .m-checkbox.m-checkbox--light > span {
	 border: 1px solid #000;
}
 .m-login .m-checkbox.m-checkbox--light > input:checked ~ span {
	 border: 1px solid #000;
}
 .m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-sub .m-link {
	 color: #000;
}
 .tiles .services_tiles__item .fa, .tiles .services_tiles__item .icon-aex::before, .tiles .services_tiles__item i {
	 font-size: 32px;
	 color: #9c27b0 !important;
}
 .m-nav__item.question-mark-tutorial {
	 display: none;
}
/*.backstretch {
	 background-color: #008047 !important;
}
 .backstretch .backstretch-item img {
	 display: none !important;
}
 .backstretch .backstretch-item {
	 background-color: #008047 !important;
}
 */
 .m-header .m-header__bottom {
	 background-color: #fff !important;
}
 .m-brand .m-brand__tools .m-dropdown .btn > span {
	 color: #000 !important;
}
 .m-brand .m-brand__tools .m-dropdown .btn > span + .fa-angle-down, .m-brand .m-brand__tools .m-dropdown .btn > span + .fas {
	 color: #000 !important;
}
 .m-topbar__username {
	 color: #000 !important;
}
 .m-topbar__username:hover {
	 color: #000 !important;
}
 .m-topbar__username:hover {
	 color: #000 !important;
}
 .m-topbar .m-topbar__nav.m-nav > .m-nav__item > .m-nav__link .m-nav__link-icon .m-nav__link-icon-wrapper > i {
	 color: #000 !important;
}
 .m-topbar .m-dropdown__inner {
	 background-color: #fff !important;
}
 .m-topbar .m-dropdown__inner .m-nav__link-text {
	 color: #000 !important;
	 opacity: 0.5;
}
 .m-topbar .m-dropdown__inner .m-nav__link-text:hover {
	 color: #000 !important;
	 opacity: 1;
}
 .m-topbar .trips .m-nav::-webkit-scrollbar-track-piece {
	 background-color: #eee;
}
 .m-topbar .trips .m-nav::-webkit-scrollbar-thumb {
	 background-color: rgba(0,0,0,0.5) !important;
}
 .m-topbar .trips .m-nav::-webkit-scrollbar-corner {
	 background-color: #fff;
}
 .m-topbar .trips .m-nav::-webkit-resizer {
	 background-color: #fff;
}
 .m-menu__link {
	 color: #000 !important;
	 opacity: 0.5;
}
 .m-menu__link:hover {
	 color: #000 !important;
	 opacity: 1;
}
 .m-menu__link.active {
	 color: #000 !important;
	 opacity: 0.5;
}
 .m-menu__link.active:hover {
	 color: #000 !important;
	 opacity: 1;
}
 .m-menu__link.active .fa, .m-menu__link.active .icon-aex:before {
	 color: #000 !important;
}
 .m-dropdown.m-dropdown--arrow .m-dropdown__arrow {
	 border-bottom: solid 10px #fff !important;
}
 .m-dropdown.m-dropdown--header-bg-fill .m-dropdown__header {
	 background-color: #fff !important;
}
 .dropdown_trip_at_work .search {
	 border: 1px solid #fff !important;
}
 .dropdown_trip_at_work .m-nav__separator {
	 display: none;
}
 .dropdown_trip_at_work .input-group-text {
	 border: 1px solid #fff !important;
}
 .m-card-user.m-card-user--skin-dark .m-card-user__details .m-card-user__name {
	 color: #000 !important;
}
 .m-dropdown__inner .m-card-user__details .fa {
	 color: #000 !important;
}
 .m-dropdown__inner .m-card-user__details .fa:hover {
	 color: #000 !important;
}
 .m-card-user.m-card-user--skin-dark .m-card-user__details .m-card-user__emai {
	 color: #000 !important;
	 opacity: 0.7;
}
 .m-dropdown__inner .m-nav__item .m-nav__link .m-nav__link-icon {
	 color: #000 !important;
	 opacity: 0.5;
}
 .m-dropdown__inner .m-nav__item .m-nav__link:hover .m-nav__link-icon {
	 opacity: 0.7;
}
 .m-dropdown__inner .m-nav__link .m-nav__link-text {
	 opacity: 0.7;
	 color: #000 !important;
}
 .m-dropdown__inner .m-nav__link:hover .m-nav__link-text {
	 color: #000 !important;
	 opacity: 1;
}
 .m-dropdown__inner .m-card-user__details:hover {
	 color: #000 !important;
}
 .m-dropdown__inner .m-card-user__details:hover .fa {
	 color: #000 !important;
	 opacity: 1;
}
 .m-dropdown__inner .m-card-user__details .fa {
	 color: #000 !important;
	 opacity: 0.5;
}
 .m-card-user.m-card-user--skin-dark .m-card-user__details .m-card-user__email {
	 color: #000 !important;
}
 .m-card-user.m-card-user--skin-dark .m-card-user__details .m-card-user__email:hover {
	 color: #000 !important;
}
 .m-brand__tools .m-dropdown__wrapper .m-nav__link {
	 color: #000 !important;
}
 .m-brand .m-brand__tools .m-dropdown .btn:hover {
	 color: #000 !important;
}

.m-login__form-action.text-center .white-text {
	
	color: #000 !important;
}

.m-login__btn.m-login__btn--primary {
	    color: #000 !important;
    border-width: 1px !important;
    border-color: #fff !important;
    font-size: 16px !important;
    font-weight: bold !important;
    box-shadow: 0px 5px 10px 2px transparent !important;
    background-color: #fff;
}

#header-info .call-sign {

    color: #000 !important;
}
.prebooking_complex .selected-paxes-table .name-wrap__item-upper {
        font-size: 18px;
        width: 100%;
        position: absolute;
        bottom: -13px;
        left: 0;
        color: #0723ad; }